.light {
    margin: 0 auto;
    width: 7px;
    height: 7px;
    transform: translateY(15px);
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, .9);
}